---
import Layout from '../layouts/Layout.astro';
import Counter from '../components/Counter.astro';
import ResetButton from '../components/ResetButton.astro';
---

<Layout title="Quantos dias sem falar do Domingo?">
	<main>
		<h1>💖</h1>
		<Counter />
		<ResetButton />
	</main>
</Layout>
