---
import {
  getLastReset,
  setLastReset,
  calculateTimeSince,
} from '../utils/timer.js';
---

<div id="counter">Carregando...</div>

<script>
  import {
    getLastReset,
    setLastReset,
    calculateTimeSince,
  } from '../utils/timer.js';

  const counterElement = document.getElementById('counter');

  async function updateCounter() {
    try {
      let lastReset = await getLastReset();
      if (!lastReset) {
        await setLastReset();
        lastReset = await getLastReset();
      }

      const { days, hours, minutes, seconds } = calculateTimeSince(lastReset);
      if (counterElement) {
        counterElement.textContent = `${days} dias, ${hours} horas, ${minutes} minutos e ${seconds} segundos sem falar sobre o Domingo.`;
      }
    } catch (err) {
      console.error(err);
      if (counterElement) {
        counterElement.textContent = 'Erro ao carregar o contador.';
      }
    }
  }

  updateCounter();
  setInterval(updateCounter, 1000);
</script>
